<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Unify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Unify.Properties.Settings>
            <setting name="General_AccentColour" serializeAs="String">
                <value>186, 0, 0</value>
            </setting>
            <setting name="General_AutoColour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_HighContrastText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Path_ModsDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="General_Mods_Priority" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path_GameExecutable" serializeAs="String">
                <value/>
            </setting>
            <setting name="General_Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Path_EmulatorDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="Path_SaveData" serializeAs="String">
                <value/>
            </setting>
            <setting name="Emulator_API" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Emulator_VerticalSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Emulator_Gamma" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Emulator_Fullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Emulator_DiscordRPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_SaveFileRedirection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_CheckUpdatesOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_LastSoftwareUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_LaunchEmulator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_LastModUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_LastPatchUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tweak_Renderer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tweak_Reflections" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Tweak_AntiAliasing" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Tweak_ForceMSAA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tweak_CameraType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tweak_CameraDistance" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="Tweak_CameraHeight" serializeAs="String">
                <value>70.0</value>
            </setting>
            <setting name="Tweak_FieldOfView" serializeAs="String">
                <value>0.785398185253143</value>
            </setting>
            <setting name="Tweak_AmyHammerRange" serializeAs="String">
                <value>50.0</value>
            </setting>
            <setting name="General_AutoUninstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Emulator_UserLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Emulator_Arguments" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tweak_BeginWithRings" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Debug_AllowModStacking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Patches_Priority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="Emulator_Resolution" serializeAs="String">
                <value>0</value>
            </setting>
        </Unify.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
