<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sonic_06_Mod_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Sonic_06_Mod_Manager.Properties.Settings>
            <setting name="accentColour" serializeAs="String">
                <value>186, 0, 0</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emulatorSystem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="API" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="xeniaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RPCS3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="modsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="gameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpSystem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="emulator_RTV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emulator_2xRes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emulator_VSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emulator_ProtectZero" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emulator_Gamma" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emulator_Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emulator_Discord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emulator_Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="priority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patches_Reflections" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="patches_ViewportX" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="patches_ViewportY" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="patches_CameraDistance" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="patches_CameraHeight" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="manualInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FTP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="manualPatches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patches_MSAA" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ftpLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="saveRedirect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dream" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patches_CameraType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="patches_FieldOfView" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="seenVulkanWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patches_Renderer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="disableSoftwareUpdater" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveData" serializeAs="String">
                <value />
            </setting>
            <setting name="gridStyle" serializeAs="String">
                <value>0</value>
            </setting>
        </Sonic_06_Mod_Manager.Properties.Settings>
    </userSettings>
</configuration>