<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Unify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Unify.Properties.Settings>
            <setting name="AccentColour" serializeAs="String">
                <value>186, 0, 0</value>
            </setting>
            <setting name="AutoColour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighContrastText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmulatorDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveData" serializeAs="String">
                <value />
            </setting>
            <setting name="GraphicsAPI" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForceRTV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoubleResolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerticalSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gamma" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscordRPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFileRedirection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckUpdatesOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSoftwareUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchEmulator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastModUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPatchUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
        </Unify.Properties.Settings>
    </userSettings>
               </configuration>