<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sonic_06_Mod_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SONIC_THE_HEDGEHOG__2006__Mod_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Sonic_06_Mod_Manager.Properties.Settings>
            <setting name="modsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="s06Path" serializeAs="String">
                <value />
            </setting>
            <setting name="xeniaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ftp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftpSystem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="priority" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="manUninstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="msaaLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="reflectionLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="api" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vulkanOnDX12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vsync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="protectZero" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rtv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doubleIntRes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gamma" serializeAs="String">
                <value>True</value>
            </setting>
        </Sonic_06_Mod_Manager.Properties.Settings>
        <SONIC_THE_HEDGEHOG__2006__Mod_Manager.Properties.Settings>
            <setting name="modsPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="s06Path" serializeAs="String">
                <value/>
            </setting>
            <setting name="xeniaPath" serializeAs="String">
                <value/>
            </setting>
        </SONIC_THE_HEDGEHOG__2006__Mod_Manager.Properties.Settings>
    </userSettings>
</configuration>
