[*.cs]

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = suggestion

# CS8622: Nullability of reference types in type of parameter doesn't match the target delegate (possibly because of nullability attributes).
dotnet_diagnostic.CS8622.severity = suggestion

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = suggestion

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = suggestion

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = suggestion
